@use 'variables.scss';


body {
    /* 
        Setting up some global rules for the webpage : 

        - default font-family to use for all text
        - default text-color and size
        - remove default margins of the body element
    */

    font-family: 'Open Sans', sans-serif;
    color: variables.$text-dark-gray;
    font-size: variables.$font-size-normal;
    margin: 0;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}

.page {
    display: grid;
    grid-template-columns: 
        [col1-left-margin] 1fr 
        [col2-logo-space] 190px
        [col3-remaining-left-panel] calc(variables.$main-content-width * 2/3 - 190px)
        [col4-right-panel] calc(variables.$main-content-width * 1/3)
        [col5-right-margin] 1fr;
    grid-template-rows: 
        [row1-header1] 130px 
        [row2-header2] auto 
        [row3-main-content] auto; 
}


.top-header-right-placeholder {
    grid-row-start: row1-header1;
    grid-column-start: col5-right-margin;
    background-color: variables.$background-lightgray;
}


.logo {
    background-color: white;
    grid-row-start: row1-header1;
    grid-column-start: col2-logo-space;


    img {
        /* Center the image horizontally in the container */
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.nav-menu {
    /* Positionning this element in the CSS Grid */
    grid-row-start: row1-header1;
    grid-column-start: col3-remaining-left-panel;
    grid-column-end: span col5-right-margin;


    display: flex;
    /* flex positionning of children */
    align-items: end;
    justify-content: center;

    padding-bottom: 15px;
        background-color: variables.$background-lightgray;
    
        .menu-item {
            font-size: variables.$font-size-normal;
            font-weight: 700;
            color: variables.$text-dark-gray;
            margin-right: 30px;


            &.active,
            &:hover {
                color: variables.$medium-purple;
            }
        }
}



.title-banner-background {
    grid-row-start: row2-header2;
    grid-column-start: col1-left-margin;
    grid-column-end: -1;
    background-color: variables.$dark-purple;
}

.title-banner-content {
    grid-row-start: row2-header2;
    grid-column-start: col3-remaining-left-panel;
    grid-column-end: span 2;

    color: white;
    padding: 40px;

    h1 {
        margin: 0;
        font-size: variables.$font-size-large;
        font-weight: 400;
    }


    .subtitle-menu {
        font-size: variables.$font-size-small;

        .menu-item.active,
        .menu-item:hover,
        .delimiter {
            color: variables.$light-purple;
        }
    }
}


.title-banner-left-placeholder {
    grid-row-start: row2-header2;
    grid-column-start: col2-logo-space;
    background-color: variables.$medium-purple;
}



.page-content-left, .page-content-right {
    margin-top: 40px
}

.page-content-left {
    grid-row-start: row3-main-content;
    grid-column-start: col2-logo-space;
    grid-column-end: span 2;

    padding-right: 30px;
    line-height: 2em;

    h2 {
        font-size: variables.$font-size-large;
        font-weight: 400;
        margin-top: 0;
    }
}

.page-content-right {
    grid-column-start: col4-right-panel;
    grid-row-start: row3-main-content;
    padding-left: 30px;
}


.content-menu {
    .menu-item {
        color: variables.$text-light-gray;
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    hr {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: #CCCCCC;
    }
}