// Colors 
$background-lightgray: #f5f5f5;
$text-dark-gray: #333333;
$text-light-gray: #999999;
$dark-purple: #2d1a47;
$medium-purple: #61259e;
$light-purple: #A26CDA;



// Sizes
$font-size-large: 40px;
$font-size-normal: 14px;
$font-size-small: 12px;

$main-content-width: 1140px;